SCRAPER_API_TITLE=Web Scraper API
SCRAPER_API_VERSION=1.0.0
SCRAPER_REQUEST_TIMEOUT_SECONDS=20
SCRAPER_MAX_PAGES_PER_SITE=3
SCRAPER_SCRAPER_CONCURRENCY=4
SCRAPER_SCRAPER_RETRY_ATTEMPTS=2
SCRAPER_SCRAPER_RETRY_DELAY_SECONDS=1
SCRAPER_SCRAPER_RATE_LIMIT_SECONDS=1
SCRAPER_PROXY_URL=
SCRAPER_CACHE_TTL_SECONDS=300
